[Unit]
Description=Expose PostgreSQL with Tailscale Serve
After=custom-tailscale-up-if-authkey.service postgresql.service
Requires=tailscaled.service postgresql.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/custom-tailscale-serve-postgres
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
